.connect {
  position: relative;
}

.connect::before {
  border-bottom: 1px solid #2a4236;
  border-top: 1px solid #1c2f25;
  content: "";
  display: block;
  position: absolute;
  top: -4.5rem;
  left: 2.25rem;
  right: 2.25rem;
}
