@media (max-width: 300px)
{
    .link {
        font-size: 12px;
        padding: 8px 10px;
    }

    .icons {
        height: 20px;
        width: 18px;
    }
}

@media (max-width: 700px)
{
    .arrow_icon {
        margin-left: auto;
    }

    .navbar {
        position: relative;
    }

    .navbar::before {
        border-bottom: 1px solid #2A4236;
        border-top: 1px solid #1C2F25;
        content: "";
        display: block;
        left: -30px;
        top: -10px;
        right: -30px;
        position: absolute;
    }
}